<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body text-center">
              <form [formGroup]="registerForm" (ngSubmit)="onAddUser()">
                <mat-form-field>
                  <input matInput placeholder="Correo" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Contraseña" type="password" formControlName="clave">
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Rol" formControlName="rol">
                    <mat-option *ngFor="let rol of roles" [value]="rol.tipo">
                      {{rol.tipo}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-card-actions>
                  <button type="submit" class="btn btn-primary" [disabled]='!registerForm.valid'>Submit</button>
                </mat-card-actions>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
