<mat-card>
  <mat-card-header>
    <mat-card-title>Editar actividad</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form  [formGroup]="actividadForm"  (ngSubmit)="addActividad()" class="form-container">
      <div class="row">
        <div class="col-md-10">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre del actividad" type="text" formControlName="nombre">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Puntaje" type="number" formControlName="puntaje">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio" placeholder="Fecha de inicio">
            <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
            <mat-datepicker #fechaInicio></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput [matDatepicker]="fechaFin" formControlName="fechaFin" placeholder="Fecha de finalización">
            <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
            <mat-datepicker #fechaFin></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <mat-card-actions align="rigth">
        <button mat-raised-button type="submit" class="btn btn-primary pull-right mb-3" [disabled]='!actividadForm.valid'>Guardar</button>
      </mat-card-actions>
    </form>
  </mat-card-content>

</mat-card>
