<div class="main-content">
  <div class="container-fluid">

    <div class="fab" *ngIf="isProfesor">
      <a mat-fab color="primary" style="margin-right : 14px;" (click)="addActividad()">
        <mat-icon>add</mat-icon>
      </a>
    </div>
    <mat-card *ngIf="curso">
      <mat-card-header>
        <a mat-button routerLink="/cursos">
          <mat-icon aria-label="Cursos">arrow_back</mat-icon>
          {{curso.nombre | titlecase}}
        </a>
      </mat-card-header>

      <mat-card-content>
        <mat-tab-group mat-align-tabs="center" [dynamicHeight]="true">

          <mat-tab label="Actividades">
            <mat-card>

              <mat-table #table [dataSource]="dataSourceActividad" matSort class="animate">
                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                  <mat-cell *matCellDef="let actividad"> {{ actividad.nombre | titlecase }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
                  <mat-cell *matCellDef="let actividad"> {{ actividad.descripcion }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="inicio">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Inicio </mat-header-cell>
                  <mat-cell *matCellDef="let actividad"> {{ actividad.fechaInicio.toDate() | date:'medium' }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fin">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Fin </mat-header-cell>
                  <mat-cell *matCellDef="let actividad"> {{ actividad.fechaFin.toDate() | date:'medium' }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                  <mat-cell *matCellDef="let actividad"> {{ actividad.tipo }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="accion">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Acción</mat-header-cell>
                  <mat-cell *matCellDef="let actividad">
                    <button mat-icon-button (click)="viewActividad(actividad)">
                      <mat-icon color="primary">launch</mat-icon>
                    </button>
                    <button mat-icon-button (click)="editActividad(actividad.id)" *ngIf="isProfesor">
                      <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="isProfesor" (click)="deleteActividad(actividad.id)">
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumnsActividad"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsActividad;" class="animate"></mat-row>
              </mat-table>
            </mat-card>
            <ng-template #elseActividades>No se han agregado actividades.</ng-template>
          </mat-tab>
          <mat-tab label="Estudiantes" *ngIf="isProfesor">
            <mat-list>
              <h3 mat-subheader>Estudiantes</h3>
              <mat-list-item *ngFor="let estudiante of estudiantes">
                <!-- <mat-icon mat-list-icon>face</mat-icon> -->
                <img *ngIf="estudiante.imagen; else elseBlock" matListAvatar [src]="estudiante.imagen" />
                <ng-template #elseBlock>
                  <img matListAvatar src="../assets/img/faces/no-user.png" alt="avatar">
                </ng-template>
                <h4 mat-line>{{estudiante.nombres}} {{estudiante.apellidos}}</h4>
                <p mat-line class="text-secondary"> @{{estudiante.usuario}} </p>
              </mat-list-item>
            </mat-list>

          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
