<div class="main-content">
  <div class="container-fluid">
    <!-- carousel images banner UTPL -->
    <mdb-carousel [isControls]="true" [animation]="'slide'" class="mb-3">
      <mdb-carousel-item>
        <img class="d-block w-100" src="./assets/img/banners/banner1.jpg" alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="./assets/img/banners/banner2.jpg" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="./assets/img/banners/banner3.jpg" alt="Third slide">
      </mdb-carousel-item>
    </mdb-carousel>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">book</i>
            </div>
            <p class="card-category">Cursos</p>
            <h3 class="card-title">{{numCursos}}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-primary">add</i>
              <a routerLink="/cursos">Agrega nuevo curso...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="isProfesor">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">people</i>
            </div>
            <p class="card-category">Estudiantes</p>
            <h3 class="card-title">12</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i>Estudiantes
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">face</i>
            </div>
            <p class="card-category">Perfil</p>
            <h6 class="card-title">{{nombre}}</h6>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-primary">edit</i>
              <a routerLink="/perfil">Editar perfil...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck">
      <div class="card text-center" style="width: 18rem;" *ngFor="let curso of cursos | async">
        <div class="card-body">
          <h5 class="card-title mb-5">{{curso.nombre | titlecase }} </h5>
          <button mat-raised-button color="primary" (click)="detalleCurso(curso)" id="btn">Curso</button>
        </div>
      </div>
    </div>

  </div>
</div>
