<section class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-header text-center">
              Login
            </div>
            <div class="card-body text-center">
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field>
                  <input matInput type="email" placeholder="Correo" formControlName="correo">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Contraseña" type="password" formControlName="clave">
                </mat-form-field>
                <mat-card-actions>
                  <button type="submit" class="btn btn-primary" [disabled]='!loginForm.valid'>Enviar</button>
                </mat-card-actions>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
