<div class="main-content">
  <div class="container-fluid">
    <mat-card *ngIf="actividad">
      <mat-card-header>
        <a mat-button (click)="goToCurso(actividad.idCurso)">
          <mat-icon aria-label="Actividades">arrow_back</mat-icon>
          atras
        </a>
      </mat-card-header>
      <mat-card-content>
        <h2 class="text-center">{{actividad.nombre | titlecase}}</h2>
        <div class="row text-center">
          <div class="col-md-6">
            <mat-card-subtitle>Inicio: {{actividad.fechaInicio.toDate() | date:'medium'}}</mat-card-subtitle>
          </div>
          <div class="col-md-6">
            <mat-card-subtitle>Fin: {{actividad.fechaFin.toDate() | date:'medium'}}</mat-card-subtitle>
          </div>
        </div>
        <h4>Puntaje: {{actividad.puntaje}}</h4>
        <p>{{actividad.descripcion}}</p>
        <div *ngIf="pregunta; else elseBlock">
          <h3>Preguntas</h3>
          <div *ngFor="let objeto of pregunta.preguntas">
            <p>{{objeto.pregunta}}</p>
            <mat-radio-group>
              <mat-radio-button [value]="objeto.respuesta">{{objeto.respuesta}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <ng-template #elseBlock>No hay preguntas.</ng-template>

      </mat-card-content>
    </mat-card>
  </div>
</div>
